
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	font-family:Arial;
	background: #333;
	color:#ccc;
	margin:5px;
}
a {
	color:#f80;
	text-decoration:none;
}
a:hover {
	color:#eee;
}
.ip {
}
.ip:hover {
	cursor:pointer;
	color:#f80;
}
h3 {
	margin:0;
	position:relative;
}
hr {
	clear:both;
	border:none;
}
.box {
	background: #445;
	border:2px solid #aaa;
	border-radius:8px;
	box-shadow: 0 0 16px #111;	
	padding:10px;
	margin:20px 0.5%;
}
.box.form {
	float:left;
	width:32.33%;
}
.box b {
	color:#f80;
}
.box pre {
	overflow-x:scroll;
}
input,
label {
	padding:.25em;
	margin:4px 2px;
	font-size:1em;
}
input {
	color:#ccc;
	background:#333;
	border:2px solid #aaa;
	border-radius:5px;
}
input[type=text] {
	width: 100%;
}
input[type=submit] {
	font-weight: bold;
	padding: 3px 6px 2px 6px;
	cursor: pointer;
}
input[type=submit]:hover {
	color: #f80;	
}
#logo {
	position: absolute;
	bottom: 2px;
	right: 2px;
	font-size: 12px;
	color:#888;
	text-shadow: 1px 1px 3px #000;
	padding: 2px;
}
#date {
	position:absolute;
	top:0;
	right:0;
	float:right;
	padding:2px;
}
#top_wrap {
	position:fixed;
	top:0;
	left:0;
	right:0;
	z-index:90;
	background: #333;
	border-bottom:4px solid #444;
	box-shadow: 0 10px 24px #222;
	overflow:hidden
}
#top {
	padding:5px;
	overflow:hidden;
}
#topup {
	z-index:1000;
	display:block;
	width:100px;
	height:38px;
	margin:-2px auto;
	background: url('imgs/arrows.png') #444 no-repeat;
	background-position: center 6px;
	border-radius:4px;
	box-shadow: 0 0 8px #111;		
}
#topup.down {
	background-position: center -22px;
}
#topup:hover {
	background-color:#555;
}

#menu {
	clear:both;
	overflow-x:scroll;
	padding:15px 10px;
	margin-top: 28px;
	font-size:20px;
	background:#422;
	white-space:nowrap;	
	word-spacing:3px;
	letter-spacing:4px:
}

#menu img {
	height:18px;
	width:18px;
	border-radius:2px;
	vertical-align:middle;
}

#userfailed span {
	font-family:Courier;
	display:inline-block;
	background: #222;
	border-radius:.25em;
	margin:2px;
	padding:2px 4px;
	word-spacing:-.25em;
}

#geoipbox {
	box-shadow: 0 0 18px #000;
	background:#222;
	z-index:100;
	position:fixed;
	bottom:50px;
	left:auto;
	min-width:30%;
	right:-10px;
	float:right;
	font-size:1.2em;
}
.aclose {
	font-weight:bold;
	font-size:40px;
	position:absolute;
	top:5px;
	right:10px;
	text-decoration:none;
}
